<% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
        <%= value %>
    </div>
<% end %>
<%= simple_form_for @vacation do |f| %>
    <div class="form-group">
        <div class="col-md-6">
            <div class='input-group date' id='datetimepicker1'>
                <%= f.input :start_date, as: :date_picker, class: "form-control", placeholder: "dd/mm/yyyy"%>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-6">
            <div class='input-group date' id='datetimepicker2'>
                <%= f.input :end_date, as: :date_picker, class: "form-control", placeholder: "dd/mm/yyyy" %>
            </div>
        </div>
    </div>
    <h4 class="control-label">Description</h4>
    <%= f.text_area :description, class: 'form-control', maxlength: 35 %>
    <%= f.button :submit, class: 'formSub' %>
<% end %>
<script type="text/javascript">
$(function() {
    $('#datetimepicker1').datetimepicker();
    $('#datetimepicker2').datetimepicker({
        useCurrent: false //Important! See issue #1025
    });
    $("#datetimepicker1").on("dp.change", function(e) {
        $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker2").on("dp.change", function(e) {
        $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
    });
});
</script>