<%= simple_form_for @vacation do |f| %>
<div class='date_pikers'>
    <%= f.input :start_date, as: :date_picker%>
    <%= f.input :end_date, as: :date_picker%>
</div>
<%= f.text_area :description %>
  <%= f.button :submit %>
<% end %>

